apiVersion: v1
kind: Service
metadata:
  name: {{ include "nofire-edge.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nofire-edge.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
    - port: {{ .Values.service.dnstapPort }}
      targetPort: {{ .Values.service.dnstapPort }}
      protocol: TCP
      name: dns-tap
  selector:
    {{- include "nofire-edge.selectorLabels" . | nindent 4 }}
